html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: #F3F3F3;
}

/* TODO: REMPLACER L'ALIGNEMENT PAR FLEX ! */


/* PREMIÈRE SECTION (BLOCK BLANC) */

.premiereSections {
    height: 100%;
    width: 100%;
}

h1.titre_premier {
    top: 50%;
}

h1.titre {
    padding-top: 50px;
    color: black;
}

img.img_kfc {
    width: 13rem;
    height: 10rem;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

h1.bar_menu {
    margin-bottom: 50%;
}


/* DEUXIÈME SECTION */
.deuxiemeSection {
    height: 100%;
    width: 100%;
}

.paragraphe_deuxieme {
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 10%;
    max-width: 100%;
    max-height: 100%;
}

img.deliveryman {
    max-width: 100%;
    margin-top: 30%;
    margin-left: 20%;
}

/* TROISIÈME SECTION */


.troisiemeSection {
    height: 100%;
    width: 100%;
}

.paragraphe_troisieme {
    margin-top: 10%;
    margin-bottom: 10%;
}

img.truckLoaded {
    margin-top: 10%;
    margin-bottom: 10%;

}

/* QUATRIÈME SECTION */

.quatriemeSection {
    height: 80%;
    width: 100%;
}

/* Responive bullshit */
@media (max-width: 680px) {
    .titre_premier {
        font-size: 11vw;
    }
}

/* @media (max-width: 600px) {
    .titre_premier {
        font-size: 12vw;
    }
} */

@media (max-width: 500px) {
    .premiereSections {
        background-color: #F3F3F3;
    }

    .titre_premier {
        font-size: 10vw;
        margin-top: 10px;
    }

    .img_kfc {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50%;
    }

    .bar_menu {
        margin-top: 50px;
        font-size: 10vw;
        text-align: center;
    }
}

@media (max-width: 1571px) {
    .img.truckLoaded {
    }

    img.deliveryman {

    }

    .paragraphe_deuxieme {
        margin-right: 50px;
    }
}

@media (max-width: 810px) {
    img.img_kfc {
        height: 15rem;
        width: 15rem;
    }

    .nav > .nav-links > a {
        display: inline-block;
        padding-top: 80px;
        padding-bottom: 100px;

    }
}

/*
.btn-three {
    color: #cdcdcd;
    transition: all 0.5s;
    position: relative;
    margin-bottom: 50%;
    font-size: 3rem;
}

.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.btn-three:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2);
}

.btn-three:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}


* {
  box-sizing: border-box;
}
*/

.nav {
    height: 10%;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #F3F3F3;

}

.nav > .nav-header {
    display: inline;

}

.nav > .nav-btn {
    display: none;
}

.nav > .nav-links {
    display: inline;
    font-size: 50px;


}

.nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: black;
    padding-right: 80px;
    padding-left: 80px;

}

.nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
    display: none;
}

@media (max-width: 600px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav > .nav-btn > label:hover, .nav #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav > .nav-btn > label > span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid black;
    }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }

    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}